{% extends 'farmer/base_farmer.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center fw-bold">Inbox</h2>

    {% for message in messages %}
    <div class="card my-2">
        <div class="card-body">
            <h5 class="card-title">{{ message.sender.first_name }}</h5>
            <p class="card-text">{{ message.message_text }}</p>
            {% if message.image %}
                <img src="{{ message.image }}" class="img-fluid" alt="Sent Image">
            {% endif %}
            <small class="text-muted">{{ message.timestamp }}</small>
        </div>
    </div>
    {% empty %}
    <p class="text-center">Wala pang mga mensahe.</p>
    {% endfor %}
</div>
{% endblock %}
